# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "db0b0b6545e29e7a2455a900e38b30dd"
name = "vaudit-app"
application_url = "https://vaudit-psi.vercel.app/"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  compliance_topics = ["customers/data_request", "customers/redact", "shop/redact"]
  uri = "https://vaudit-psi.vercel.app/webhooks/privacy"


[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_content,read_themes,write_content,write_themes"

[auth]
redirect_urls = [ "https://vaudit-psi.vercel.app/" ]
